---
import Layout from "../layouts/Layout.astro";
import dataMod from "../constants/dataMods.json";
import { CardMod } from "../components/Cards";
---

<Layout title="Red Loader - Sons of the forest">
  <div class="max-w-[440px] mx-auto gap-14 flex flex-col max-[530px]:max-w-[300px]">
    <img src={"/images/redlogo.png"} class="w-full object-cover" />

    <p class="text-center text-text_primary">
      {
        "All mods on this site are made for Red Loader. It offers a rich feature set for modders and smoother game integration for users. To get started, head over to the mod loader page for manual installation and documentation or visit the installer page for a near-automatic installation."
      }
    </p>

    <div class="w-full flex flex-row items-center gap-5 justify-center max-[530px]:flex-col">
      <button class="btn btn-success rounded-full min-w-[180px] max-[530px]:w-[90%]"
        >Red Loader</button
      >
      <button class="btn btn-success rounded-full min-w-[180px] max-[530px]:w-[90%]"
        >Red Mandager</button
      >
    </div>
  </div>

  <div class="w-[80%] mx-auto flex flex-col gap-5 mt-5">
    <h2 class="text-text_primary text-3xl font-semibold mx-auto">Featured Mods</h2>
    <div class="flex flex-wrap justify-around min-h-64">
      {
        dataMod.map((item) => {
          return (
            <CardMod
              id={item.id}
              title={item.title}
              type={item.type}
              img={item.img}
              owner={item.owner}
              version={item.score}
              abstract={item.abstract}
              downloadNumbers={item.downloadNumbers}
              timeAgo={item.timeAgo}
              nsfw={item.nsfw}
            />
          );
        })
      }
    </div>
  </div>
</Layout>
