---
import Header from "../components/Header";
import Footer from "../components/Footer";

const { shareTitle, shareDescription, shareImageUrl } = Astro.props;
const { game } = Astro.locals;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={shareDescription ||
        game.description ||
        "Discover and share mods for your favorite games"}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={game.faviconUrl} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{game.title}</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={shareTitle || game.title} />
    <meta
      property="og:description"
      content={shareDescription ||
        game.description ||
        "Discover and share mods for your favorite games"}
    />
    <meta property="og:image" content={shareImageUrl || game.shareImageUrl} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={shareTitle || game.title} />
    <meta
      property="twitter:description"
      content={shareDescription ||
        game.description ||
        "Discover and share mods for your favorite games"}
    />
    <meta property="twitter:image" content={shareImageUrl || game.shareImageUrl} />

    <!-- Discord -->
    <meta property="discord:title" content={shareTitle || game.title} />
    <meta
      property="discord:description"
      content={shareDescription ||
        game.description ||
        "Discover and share mods for your favorite games"}
    />
    <meta property="discord:image" content={shareImageUrl || game.shareImageUrl} />

    <!-- Reddit -->
    <meta name="title" content={shareTitle || game.title} />
    <meta
      name="description"
      content={shareDescription ||
        game.description ||
        "Discover and share mods for your favorite games"}
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  </head>
  <body>
    <main class="flex flex-col gap-5 min-h-[100vh]">
      <Header
        title={game.title}
        logoSmImageUrl={game.logoSmImageUrl}
        logoMdImageUrl={game.logoMdImageUrl}
        logoLgImageUrl={game.logoLgImageUrl}
      />
      <slot />
      <Footer
        title={game.title}
        footerDescription={game.footerDescription}
        logoFooterImageUrl={game.logoFooterImageUrl}
        youtubeUrl={game.youtubeUrl}
        facebookUrl={game.facebookUrl}
        xUrl={game.xUrl}
        instagramUrl={game.instagramUrl}
        discordUrl={game.discordUrl}
        footerRelatedSitesCategory={game.footerRelatedSitesCategory}
      />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
